body
{
  background-color: #dadada;
}

h1
{
  font-weight: bold;
}



.mdl-card_media
{
  background-color: none !important;
  border:0 !important;
}
.article-image
{
  height: 100% !important ; 
  width: 100% !important; 
  object-fit: contain !important;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.portfolio-header {
  position: relative;
  background-color:green;
  /*background-image: url(images/header-bg.jpg);*/
}
/*top header*/
.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          background-color: #9e9e9e;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 110px;
  background-color: #9e9e9e;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
  background-color: #9e9e9e;
}



.portfolio-logo 
{
  background: url(images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding:0px 0 0px 0px;
  margin: auto auto 5px;
}

/*technologies styling*/
#technologies
{
  margin-top:4px;
  margin-top:1px;
  padding-bottom: 2px;
  text-align:right;
}
#icon
{
  margin:2px;
  height:20px;
}



.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;

}

.portfolio-navigation-row 
.mdl-navigation__link 
{
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  color:white !important;
  font-weight: bold;


}

.portfolio-navigation-row 
.mdl-navigation__link:hover 
{
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  color:#2e3457 !important;
  font-weight: bold;


}




.mdl-layout__drawer .mdl-navigation .mdl-navigation__link 
{
  color: white !important;
  font-weight: bold !important;
}


/*menu button*/
.portfolio-header .mdl-layout__drawer-button {
    background-color: #9e9e9e/*rgba(197, 197, 197, 0.44)*/;
}

.mdl-layout__drawer, .mdl-layout--small-screen-only, .is-visible
{
  background-color: #cdcdcd;
  border-right:  2px solid #9e9e9e;

}

.portfolio-navigation-row .is-active 
{
  position: relative;
  font-weight: bold;

}

.mdl-navigation__link:hover 
{
  position: relative;
  font-weight: bold;
  color:#2e3457 !important;

}


.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  /*underline color*/
  transition:0.5s color ease;
  background-color: #2e3457/*rgb(255,64,129)*/;
  left: 15%;
}

/*buttons below portfolio*/
.mdl-card__actions .mdl-card--border
{
  text-align: center !important;
}
.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: gray/*rgba(0, 0, 0, 0.2)*/;
}



.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}




.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

.cardContact {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.cardContact:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.link
{
  text-align: center;
}
.type
{
  margin-top:-2px;
  padding:5px;
  font-weight: bold;
}
img {
    border-radius: 5px 5px 0 0;
}

span
{
  font-size:9px;
  margin:1px;
  padding:0px;
}

.responsive-img
{
  text-align: center !important;
  /*height: 100% !important;*/
    width: 80% !important;
   /* object-fit: contain !important;*/
   justify-content: center !important;
   border: 1px solid gray;
    border-radius: 5px;

}

.helloworld, .me
{
  text-align: center;
}
.material-icons
{
  font-size:50px !important;
}

.containerContact {
    padding: 2px 16px;
}

.contactInfo
{
  text-align: center;
}
.mdl-mini-footer
{
  background-color: #4d4d4d;
  color:#ffffff;
  padding:5px;
  font-size:12px;
}
.mdl-logo
{
  margin-left:40px;
  color:#ffffff;
}
/*#logo
{
  height:20px;
}*/

/*icon effec*/
#content  {  width:190px;
             margin: 100px auto 0 auto;
             padding:20px 10px;
            }

#logo       {  
        margin: 0 0px;
        width:20px;
        border-radius:3px;
        -webkit-transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
      }

#logo:hover
      {    -webkit-transform: rotate(350deg);
           -webkit-transition: -webkit-transform 0.25s ease-in-out;}
           /*end of icon effect*/
footer 
{
  margin:0px;
  /*
  background-image: url(images/footer-background.png);*/
  /*background-size: cover;*/
}

