body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar{
  padding-top: 0em;
  padding-bottom: 0em;
height:0em;
}

.sticky-top{
  top:1em;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#mobile-header{
  font-size: .9em;
  margin-top:2em;
  margin-left:3em;

}

#availability{
  margin-left:6em;
  font-size: .7em;
}

#availability{
  color:gray;
}

.hovereffect a.info {
  font-size: .5em;
  display: inline-block;
  text-decoration: none;
  /* padding: 7px 14px; */
  text-transform: uppercase;
/*  margin: 50px 0 0 0;*/
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
  background-color: #607d8b;

}
@media (max-width: 1024px) {
  .nav-avatar{
    vertical-align: middle;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 3em;
    margin-left:1em;
  }

    #mobile-header{
      font-size: 1em;
      margin-top:2em;
      margin-right:0em;


    }

    #availability{
      margin-left:3.5em;
      font-size: .7em;
    }

    .logo{
    display:none
    }


    #card-hover{
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
    }
    #card-desc{
      font-size: 1em;

    }
    p{
      margin-bottom: 0em;
    }

    #project-h2{
      margin-bottom:0.5em;
      margin-top: .5em;
    }

    .hovereffect h2 {
      padding: 0em;
    }

    .hovereffect a.info{
      padding 0em;
    }
}

@media (max-width: 768px) {


  .sidebar {
    top: 1rem;
  }

  #mobile-header{
    font-size: .8em;
    margin-top:2em;
    margin-left:3em;

  }

  #availability{
    margin-left:4.5em;
    font-size: .7em;
  }

  .logo{
  display:none
  }

  .about-img{
  	width: 60%;
  }
  #card-hover{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
  #card-desc{
    font-size: 1em;

  }
  p{
    margin-bottom: 0em;
  }

  #project-h2{
    margin-bottom:0.5em;
    margin-top: .5em;
  }

  .hovereffect h2 {
    padding: 0em;
  }

  .hovereffect a.info{
    padding 0em;
  }
}

@media(max-width:375px){
  #card-hover{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
  }
  #sidebarMenu{
    padding-top: 7em;
    padding-left: 4em ;

  }

  #mobile-header{
    font-size: 1.3em;
    margin-top:2em;
    margin-left:0.5em;

  }
  #availability{
    margin-left:3.5em;
    font-size: 1.3em;
  }
  .nav-avatar{

  	vertical-align: middle;
  	  height: 150px;
  	  border-radius: 50%;
      margin-bottom: 3em;
  }
  #card-desc{
    font-size: 1.2em;

  }
  p{
    margin-bottom: 0em;
  }

  #project-h2{
    margin-bottom:0.5em;
    margin-top: .5em;
  }

  .hovereffect h2 {
    padding: 0em;
  }

  .hovereffect a.info{
    padding 0em;
  }

}





.nav-avatar{
  vertical-align: middle;
   border-radius: 50%;
   box-shadow: 0 8px 6px -6px black;


}


h2{


  font-weight: 700;
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: 1rem;
  right: 1rem;
  padding:.5em 0em;
  background-color: rgba(243, 243, 243, .78);
}
.navbar-toggler-icon{
    margin-right:.5em;
    margin-left:.5em;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
